@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: 121px;
}

img {
  user-select: none;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.swiper-pagination-bullet-active {
  width: 40px !important;
  border-radius: 10px !important;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}

@media (max-width: 767px) {
  .hero .swiper-wrapper {
    height: calc(100dvh - 141px);
  }
}

.input {
  @apply flex-1 h-full bg-transparent outline-none caret-secondary text-[#ccc] placeholder:text-[#ccc];
}

.input-container {
  @apply w-full mb-[22px];
}

.error {
  @apply text-red-500 mt-2;
}

.container {
  @apply w-full sm:w-[540px] md:w-[720px] px-[15px] mx-auto lg:w-[960px] xl:w-[1140px] xxl:w-[1320px];
}

.banner {
  @apply min-h-screen z-[50000] fixed top-0  w-1/4;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #ccc;
  background: transparent;
  transition: background-color 5000s ease-in-out 0s;
}
